{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}
<br/><br/>
<h3>Create Account</h3>
<br/>
<form method="POST">
  <div class="form-group">
      {{ form.hidden_tag() }}
      {{ form.name.label   }}
      {{ form.name (class="form-control card bg-light")  }}
    </div>
    <div class="form-group">
      {{ form.surname.label   }}
      {{ form.surname (class="form-control card bg-light")  }}
    </div>
    <div class="form-group">
      {{ form.email.label}}
      {{ form.email (class="form-control card bg-light") }}
    </div>
    <div class="form-group">
      {{ form.password_1.label}}
      {{ form.password_1 (class="form-control card bg-light") }} 
    </div>
    <div class="form-group">
      {{ form.password_2.label}}
      {{ form.password_2 (class="form-control card bg-light") }}
      {% for error in form.password_2.errors %}
      <spam class="alert-danger">
        {{ error }}
        {% endfor %}
      </span>
  </div>
    <div class="form-group">
      {{ form.address.label}}
      {{ form.address (class="form-control card bg-light") }}
    </div>
  </br/>
  {{ form.submit (class="btn btn-primary") }}
</form>
</div>

{% endblock %}
