{% extends "base.html" %}
{% block title %}User Information{% endblock %}
{% block content %}
<h1>User Information</h1>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_table %}
        {% if user.name != "admin" %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ url_for('views.update', id=user.id) }}">{{ user.name }}</a></td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.postal_code }}</td>
            <td>
                <a href="{{ url_for('views.insurance_set', id=user.id) }}" class="btn btn-outline-secondary btn-sm">Create Insurance</a>
                <a href="{{ url_for('views.update', id=user.id) }}" class="btn btn-outline-secondary btn-sm">Update User Info</a>
                <a href="{{ url_for('views.statistics', id=user.id) }}" class="btn btn-outline-secondary btn-sm">View User Insurance</a>
                <a href="{{ url_for('views.delete_user', id=user.id) }}" class="btn btn-outline-secondary btn-sm">Delete User</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}