{% extends "base.html" %}
{% block title %}User Information{% endblock %}
{% block body %}
<div class="container-fluid">
<br />
<h3>User Information</h3>
<br />
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Address</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_table %}
        {% if user.name != "admin" %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</a></td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td class="text-center">
                <a href="{{ url_for('views.insurance_set', id=user.id) }}"
                    class="btn btn-outline-primary">Create Insurance</a>
                <a href="{{ url_for('views.update', id=user.id) }}" class="btn btn-outline-primary">Update User
                    Info</a>
                <a href="{{ url_for('views.statistics', id=user.id) }}" class="btn btn-outline-secondary">View
                    User Insurance</a>
                <a href="{{ url_for('views.delete_user', id=user.id) }}" class="btn btn-outline-danger">Delete
                    User</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}