{% extends "base.html" %} {% block title %}Insurance setter{% endblock %} 
{% block body %}
<div class="center-container">
<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.insurance_name.label  }} 
  {{ form.insurance_name  }} 
  <br/>
  {{ form.amount.label}}
  {{ form.amount }}
  <br/>
  {{ form.creation_date.label}}
  {{ form.creation_date }}
  {% if form.creation_date.errors %}
  <ul class="errors">
    {% for error in form.creation_date.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <br/>

  {{ form.expiration_date.label}}
  {{ form.expiration_date }}
  {% if form.expiration_date.errors %}
    <ul class="errors">
        {% for error in form.expiration_date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
  <br/>
  {{ form.submit (class="btn btn-primary") }}
</form>
</div>
{% endblock %}