{% extends "base.html" %} {% block title %}Update User{% endblock %} 
{% block body %}
<div class="container">
<form action="/update/{{update_value.id }}" method="POST">
    <br/><br/>
  
    
  <br/><br/>
  {{ form.hidden_tag() }}
  {{ form.name.label  }}
  {{ form.name(value=update_value.name) }}
  <br/><!--creating a form to get data to register, using bootstrap div class form-group and also form-control-->
  {{ form.surname.label(class="form-label")}}
  {{ form.surname(value=update_value.surname)  }}
  <br/>
  {{ form.email.label(class="form-label")}}
  {{ form.email (value=update_value.email)}}
  <br/>
  {{ form.address.label(class="form-label")}}
  {{ form.address(class="form-control",value=update_value.address) }}
  <br/>
  {{ form.submit }}
</form>
</div>
{% endblock %}

