{% extends "base.html" %}
{% block title %}User Information{% endblock %}
{% block body %}

<h1>User Information</h1>

<h2>User: {{ current_user.name }} {{ current_user.surname }}</h2>
<p>Email: {{ current_user.email }}</p>
<p>Phone: {{ current_user.phone }}</p>
<!-- Access user's insurance information -->
<h2>Insurance Information</h2>
{% for insurance in table.insurance %}
    <ul>
        <li>Insurance Name: {{ insurance.insurance_name }}</li>
        <li>Amount: {{ insurance.amount }}</li>
        <li>Creation Date: {{ insurance.creation_date }}</li>
        <li>Expiration Date: {{ insurance.expiration_date }}</li>
    </ul>
{% endfor %}

{% endblock %}