body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0px 0px 0px 0px;
    min-width: 960px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  